.collections {
  margin: auto;
  margin-top: 18.4027777778vw;
  height: 100vw;
  width: 100vw;
}
@media only screen and (min-width: 300px) and (max-width: 787px) {
  .collections {
    font-size: calc(15px + 0.5458333333vw);
    margin-bottom: calc(275px + 0.5458333333vw);
  }
}
.collections .title {
  width: -moz-max-content;
  width: max-content;
  margin: 0.7638888889vw auto;
  font-size: 2.0833333333vw;
  padding: 2.5694444444vw auto;
}
@media only screen and (min-width: 300px) and (max-width: 787px) {
  .collections .title {
    font-size: calc(15px + 0.5458333333vw);
  }
}
.collections .description {
  width: -moz-max-content;
  width: max-content;
  font-size: 1.0416666667vw;
  margin: auto;
  margin-bottom: 2.0138888889vw;
}
@media only screen and (min-width: 300px) and (max-width: 787px) {
  .collections .description {
    font-size: calc(8px + 0.5458333333vw);
  }
}
.collections .shopAllBtn {
  background-color: white;
  color: #d68e21;
  font-size: 0.9722222222vw;
  outline: 1px solid #d68e21;
  border: none;
  display: block;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  border-radius: 1.3888888889vw;
  padding: 0.7291666667vw 3.125vw;
  transition:
    background-color 1s ease-in-out,
    color 1s ease,
    border 1s ease-in;
}
.collections .shopAllBtn:hover {
  cursor: pointer;
  color: white;
  background-color: #d68e21;
}
@media only screen and (min-width: 300px) and (max-width: 787px) {
  .collections .shopAllBtn {
    padding: calc(8.5px + 0.5458333333vw) calc(45px + 0.5458333333vw);
    font-size: calc(10.5px + 0.5458333333vw);
  }
}
.collections .perfumes-section {
  width: 100%;
  padding: 2.9166666667vw 7.1527777778vw;
}
.collections .perfumes-section .perfumes-container {
  width: 85.6944444444vw;
  height: 21.9444444444vw;
  background-color: white;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.1527777778vw;
  overflow: hidden;
}
@media only screen and (min-width: 300px) and (max-width: 787px) {
  .collections .perfumes-section .perfumes-container {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc(291px + 0.5458333333vw), 1fr)
    );
    grid-auto-flow: row;
    font-size: calc(12px + 0.5333333333vw);
    overflow: visible;
  }
}
.collections .perfumes-section .perfumes-container .frame-container {
  width: 27.1527777778vw;
  height: 21.9444444444vw;
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5277777778vw;
  transition:
    transform 0.5s ease,
    background-color 0.5s ease,
    color 0.5s ease;
}
@media only screen and (min-width: 300px) and (max-width: 787px) {
  .collections .perfumes-section .perfumes-container .frame-container {
    width: calc(291px + 0.5333333333vw);
    height: calc(145px + 0.5333333333vw);
    gap: calc(11px + 0.5333333333vw);
  }
}
.collections .perfumes-section .perfumes-container .frame-container .content,
.collections .perfumes-section .perfumes-container .frame-container .link {
  display: block;
  width: -moz-max-content;
  width: max-content;
  font-size: 1.8055555556vw;
  z-index: 1;
  color: white;
  letter-spacing: 15%;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 20%;
  transition:
    font-weight 0.5s ease,
    color 0.5s ease;
}
.collections .perfumes-section .perfumes-container .frame-container .link {
  font-size: 1.1111111111vw;
  text-transform: capitalize;
}
@media only screen and (min-width: 300px) and (max-width: 787px) {
  .collections .perfumes-section .perfumes-container .frame-container .link {
    font-size: calc(12px + 0.5333333333vw);
  }
}
.collections .perfumes-section .perfumes-container .frame-container img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  filter: brightness(50%);
  position: absolute;
  display: inline-block;
  top: 0;
  transform: translateX(100px);
  width: 100%;
  height: 100%;
  transition:
    transform 0.5s ease,
    filter 0.5s ease;
}
@media only screen and (min-width: 300px) and (max-width: 787px) {
  .collections .perfumes-section .perfumes-container .frame-container img {
    width: 100%;
    height: 100%;
  }
}
.collections .perfumes-section .perfumes-container .frame-container:hover img {
  cursor: pointer;
  filter: brightness(100%);
  transform: translateX(0);
}
.collections
  .perfumes-section
  .perfumes-container
  .frame-container:hover
  .content,
.collections
  .perfumes-section
  .perfumes-container
  .frame-container:hover
  .link {
  font-weight: 700;
  color: black;
} /*# sourceMappingURL=Collections.css.map */
