$foreColor: white;


.collections{
    margin: auto;
    margin-top: calc((265/1440) * 100vw);
    height: calc((1440/1440) * 100vw);
    width: calc((1440/1440) * 100vw);
    // background-color: #D68E21;
    @media only screen and (min-width: 300px) and (max-width: 787px) {
        font-size: calc(15px + ((786/1440) * 1vw));
        margin-bottom: calc(275px + ((786/1440) * 1vw));
        // height: calc(1440px + ((786/1440) * 1vw));
    }
    .title{
        width: max-content;
        margin: calc((11/1440) * 100vw) auto;
        font-size: calc((30/1440) * 100vw);
        padding: calc((37/1440) * 100vw) auto;

        @media only screen and (min-width: 300px) and (max-width: 787px) {
            font-size: calc(15px + ((786/1440) * 1vw));
        }
        
    }
    .description{
        width: max-content;
        font-size: calc((15/1440) * 100vw);
        margin: auto;
        margin-bottom: calc((29/1440) * 100vw);
        @media only screen and (min-width: 300px) and (max-width: 787px) {
            font-size: calc(8px + ((786/1440) * 1vw));
        }
    }

    .shopAllBtn{
                background-color: white;
                color: #D68E21;
                font-size: calc((14/1440) * 100vw);
                outline: 1px solid #D68E21;
                border: none;
                display: block;
                width: max-content;//calc((128.05/1440) * 100vw);
                margin: auto; //calc(50% - calc((128.05/1440) * 100vw));
                border-radius: calc((20/1440) * 100vw);
                padding: calc((10.5/1440) * 100vw) calc((45/1440) * 100vw);
                // margin-bottom: calc((42/1440) * 100vw);
                transition: background-color 1s ease-in-out, color 1s ease, border 1s ease-in;
                &:hover{
                    cursor: pointer;
                    color: white;
                    // border: 1px solid #BE5B75;
                    // color: #BE5B75;
                    background-color: #D68E21;
                }
                @media only screen and (min-width: 300px) and (max-width: 787px) {
                    padding: calc(8.5px + ((786/1440) * 1vw)) calc(45px + ((786/1440) * 1vw));
                    font-size: calc(10.5px + ((786/1440) * 1vw));
                }
            }

            .perfumes-section {
                width: 100%;
                padding: calc((42/1440) * 100vw) calc((103/1440) * 100vw);
            
                .perfumes-container {
                    width: calc((1234/1440) * 100vw);
                    height: calc((316/1440) * 100vw);
                    background-color: white;
                    margin: auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: calc((31/1440) * 100vw);
                    overflow: hidden;
            
                    @media only screen and (min-width: 300px) and (max-width: 787px) {
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(calc(291px + (786/1440) * 1vw), 1fr));
                        grid-auto-flow: row;
                        font-size: calc(12px + ((768/1440) * 1vw));
                        overflow: visible;
                    }
            
                    .frame-container {
                        width: calc((391/1440) * 100vw);
                        height: calc((316/1440) * 100vw);
                        background-color: #F2F2F2;
                        position: relative;
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: calc((22/1440) * 100vw);
                        transition: transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
            
                        @media only screen and (min-width: 300px) and (max-width: 787px) {
                            width: calc(291px + ((768/1440) * 1vw));
                            height: calc(145px + ((768/1440) * 1vw));
                            gap: calc(11px + ((768/1440) * 1vw));
                        }
            
                        .content,
                        .link {
                            display: block;
                            width: max-content;
                            font-size: calc((26/1440) * 100vw);
                            z-index: 1;
                            color: $foreColor;
                            letter-spacing: 15%;
                            text-transform: uppercase;
                            font-weight: 600;
                            margin-left: 20%;
                            transition: font-weight 0.5s ease, color 0.5s ease;
                        }
            
                        .link {
                            font-size: calc((16/1440) * 100vw);
                            text-transform: capitalize;
            
                            @media only screen and (min-width: 300px) and (max-width: 787px) {
                                font-size: calc(12px + ((768/1440) * 1vw));
                            }
                        }
            
                        img {
                            object-fit: cover;
                            object-position: center;
                            filter: brightness(50%);
                            position: absolute;
                            display: inline-block;
                            top: 0;
                            transform: translateX(100px);
                            width: 100%;
                            height: 100%;
                            transition: transform 0.5s ease, filter 0.5s ease;
            
                            @media only screen and (min-width: 300px) and (max-width: 787px) {
                                width: 100%;
                                height: 100%;
                            }
                        }
            
                        // Apply hover effect properly
                        &:hover {
                            img {
                                cursor: pointer;
                                filter: brightness(100%);
                                transform: translateX(0);
                            }
            
                            .content,
                            .link {
                                font-weight: 700;
                                color: black;
                            }
                        }
                    }
                }
            }
            

            
    }
