.product-container {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 150vh;
  z-index: -9999;
}
.product-container .product {
  width: 100%;
  margin: auto;
  margin-top: 20.625vw;
  display: flex;
  justify-content: center;
  gap: 3.3333333333vw;
  background-color: #f5f8f6;
}
.product-container .product .title {
  width: -moz-max-content;
  width: max-content;
  margin: 0.7638888889vw auto;
  font-size: 2.0833333333vw;
  padding: 2.5694444444vw 1.1111111111vw;
  margin-bottom: 3.2638888889vw;
}
.product-container .product .shopmore {
  background-color: white;
  color: #d68e21;
  font-size: 0.9722222222vw;
  outline: 1px solid #d68e21;
  border: none;
  display: block;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  border-radius: 0.6944444444vw;
  padding: 0.7291666667vw 3.125vw;
  transition: background-color 1s ease-in-out, color 1s ease, border 1s ease-in;
}
.product-container .product .shopmore:hover {
  cursor: pointer;
  color: white;
  background-color: #d68e21;
}
.product-container .product .filter-section {
  padding: 0.9722222222vw;
  width: 15%;
}
.product-container .product .filter-section h1 {
  font-size: 1.6666666667vw;
  margin-bottom: 1.6666666667vw;
}
.product-container .product .filter-section .reset {
  z-index: 20;
  width: 14.0277777778vw;
  margin: auto;
  margin-bottom: 1.6666666667vw;
  background-color: transparent;
  border-radius: 0.6944444444vw;
  border: 1px solid #d68e21;
  padding: 0.9722222222vw;
  font-size: 0.9722222222vw;
  font-weight: 700;
  text-align: center;
  transition: background-color 1s ease-in-out, color 1s ease-in;
}
.product-container .product .filter-section .reset:hover {
  cursor: pointer;
  background-color: #d68e21;
  color: white;
}
.product-container .product .filter-section select {
  z-index: 20;
  width: 14.0277777778vw;
  margin: auto;
  margin-bottom: 1.6666666667vw;
  background-color: transparent;
  border-radius: 0.6944444444vw;
  outline: 0;
  border: none;
  padding: 0.9722222222vw 0.9722222222vw;
  font-size: 0.9722222222vw;
  font-weight: 700;
  text-align: left;
  transition: background-color 1s ease-in-out, color 1s ease-in;
}
.product-container .product .filter-section select:hover {
  cursor: pointer;
  background-color: #d68e21;
  color: white;
}
.product-container .product .filter-section form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.875vw;
}
.product-container .product .filter-section form .input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.0416666667vw;
}
.product-container .product .filter-section form .input-section h1 {
  width: 17.5vw;
  text-align: left;
  color: #4d2952;
  font-weight: bold;
  font-size: 0.9722222222vw;
}
.product-container .product .filter-section form .input-section p {
  width: 15.4166666667vw;
  text-align: left;
  color: #4d2952;
  font-size: 0.9722222222vw;
}
.product-container .product .filter-section form .input-section .name,
.product-container .product .filter-section form .input-section .email {
  display: inline-block;
  color: #898989;
  width: 14.0277777778vw;
  height: 3.2638888889vw;
  font-size: 0.9722222222vw;
  padding: 0.8333333333vw;
}
.product-container .product .filter-section form .input-section .subscribeBtn {
  cursor: pointer;
  width: 14.0277777778vw;
  font-weight: bold;
  font-size: 0.9722222222vw;
  padding: 0.8333333333vw 3.125vw;
  color: white;
  background-color: #4d2952;
  transition: color 1s ease, background-color 1s ease-in-out;
}
.product-container .product .filter-section form .input-section .subscribeBtn:hover {
  color: #4d2952;
  background-color: transparent;
}
.product-container .product .filter-section form .consent {
  font-size: 0.8333333333vw;
}
.product-container .product .perfume-section {
  width: 95.5%;
  display: grid;
  grid-template-columns: 100%;
  text-align: center;
  padding: 0.9722222222vw;
}
.product-container .product .perfume-section .description {
  margin: auto;
  width: 68%;
  margin-bottom: 0.9722222222vw;
  padding: 0.9722222222vw;
  font-size: 0.9722222222vw;
}
.product-container .product .perfume-section h1 {
  font-size: 1.6666666667vw;
}
.product-container .product .perfume-section .quantity-container {
  text-align: left;
  margin: auto;
  width: 95.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.9722222222vw;
}
.product-container .product .perfume-section .quantity-container .cont {
  z-index: 9999;
  display: flex;
  gap: 0.9722222222vw;
}
.product-container .product .perfume-section .quantity-container .cont select {
  padding: 0.4861111111vw;
  width: 9.3055555556vw;
}
.product-container .product .perfume-section .quantity-container .cont select option {
  padding: 0.4861111111vw;
}
.product-container .product .perfume-section .carousel-container {
  display: grid;
  align-items: center;
  width: 95.5%;
  height: 250vh;
  background: white;
  margin: auto;
  margin-bottom: 1.9444444444vw;
  position: relative;
  padding: 1.3194444444vw;
  padding-right: 1.3194444444vw;
}
.product-container .product .perfume-section .carousel-container .prev,
.product-container .product .perfume-section .carousel-container .next {
  width: 2.3611111111vw;
  height: 6.5972222222vw;
  position: absolute;
  cursor: pointer;
  z-index: 100;
}
.product-container .product .perfume-section .carousel-container .prev {
  left: -2.3611111111vw;
}
.product-container .product .perfume-section .carousel-container .next {
  right: -2.3611111111vw;
}
.product-container .product .perfume-section .carousel-container .pagination-container {
  display: flex;
  justify-content: space-evenly;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  bottom: -2.5%;
  left: calc(50% - 54px);
  cursor: pointer;
  z-index: 9999;
}
.product-container .product .perfume-section .carousel-container .pagination-container button {
  position: relative;
  width: 2.3611111111vw;
  height: 2.3611111111vw;
}
.product-container .product .perfume-section .carousel {
  display: grid;
  grid-template-columns: repeat(3, minmax(18.8652777778vw, 1fr));
  grid-auto-flow: row;
  gap: 4.8611111111vw 4.1666666667vw;
  width: 72%;
  height: 200vh;
  padding: 1.3194444444vw;
  padding-right: 1.3194444444vw;
}
.product-container .product .perfume-section .carousel .item {
  display: flex;
  flex-direction: column;
  width: 18.8652777778vw;
  height: 33.8888888889vw;
}
.product-container .product .perfume-section .carousel .item .label-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6944444444vw;
  margin-bottom: 0.6944444444vw;
  height: 33.8888888889vw;
}
.product-container .product .perfume-section .carousel .item .label-container .label-title {
  background-color: #774c7d;
  font-size: 0.6944444444vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-left: 0.8333333333vw;
  width: 3.75vw;
  height: 1.3888888889vw;
  padding: 0.6944444444vw;
}
.product-container .product .perfume-section .carousel .item .label-container .label-icon {
  width: 1.3194444444vw;
  height: 1.1111111111vw;
}
.product-container .product .perfume-section .carousel .item .child-collection {
  width: 20.4166666667vw;
  height: 33.8888888889vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.product-container .product .perfume-section .carousel .item .child-collection .img-collection {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 17.5vw;
  height: 15.9347222222vw;
  cursor: pointer;
}
.product-container .product .perfume-section .carousel .item .child-collection .collection-details {
  margin-top: -6.25vw;
  display: flex;
  flex-direction: column;
  width: 20.4166666667vw;
  height: 33.8888888889vw;
}
.product-container .product .perfume-section .carousel .item .child-collection .collection-details .title,
.product-container .product .perfume-section .carousel .item .child-collection .collection-details .price {
  margin: auto;
  font-size: 0.9722222222vw;
  font-weight: 700;
}
.product-container .product .perfume-section .carousel .item .child-collection .collection-details .supplier {
  text-transform: uppercase;
  font-size: 0.9027777778vw;
}
.product-container .product .perfume-section .carousel .item .child-collection .collection-details .addToCart {
  width: 17.5vw;
  position: relative;
  margin: auto;
  background-color: transparent;
  border-radius: 0.6944444444vw;
  border: 1px solid #d68e21;
  padding: 0.9722222222vw;
  font-size: 0.9722222222vw;
  font-weight: 700;
  transition: background-color 1s ease-in-out, color 1s ease-in;
}
.product-container .product .perfume-section .carousel .item .child-collection .collection-details .addToCart:hover {
  cursor: pointer;
  background-color: #d68e21;
  color: white;
}/*# sourceMappingURL=Product.css.map */