$dividerColor: #d68e21;

.divider {
  position: absolute;
  top: 100%;
  // top: 147px;
  left: 0;
  width: 100%;
  // z-index: 20;
  z-index: -9999;
  // border: 2px solid;
  height: calc((40 / 1440) * 100vw);
  background-color: $dividerColor;
}
