$primaryColor: #d68e21;
$backgroundColor: #f5f6f6;

.newArrivals {
  width: 100%;
  margin-top: calc((297 / 1440) * 100vw);
  height: 100%;
  display: flex;
  flex-direction: column;
  // gap: calc((28/1440) * 100vw);
  background-color: $backgroundColor; //transparent;//$primaryColor;
  .title {
    width: max-content;
    margin: calc((11 / 1440) * 100vw) auto;
    font-size: calc((30 / 1440) * 100vw);
    padding: calc((37 / 1440) * 100vw) auto;
    margin-bottom: calc((47 / 1440) * 100vw);
    @media only screen and (min-width: 300px) and (max-width: 787px) {
      font-size: calc(16px + (768 / 1440) * 1vw);
    }
  }
  .shopmore {
    background-color: white;
    color: #d68e21;
    font-size: calc((14 / 1440) * 100vw);
    outline: 1px solid #d68e21;
    border: none;
    display: block;
    width: max-content; //calc((128.05/1440) * 100vw);
    margin: auto; //calc(50% - calc((128.05/1440) * 100vw));
    border-radius: calc((10 / 1440) * 100vw);
    padding: calc((10.5 / 1440) * 100vw) calc((45 / 1440) * 100vw);
    // margin-bottom: calc((42/1440) * 100vw);
    transition:
      background-color 1s ease-in-out,
      color 1s ease,
      border 1s ease-in;
    &:hover {
      cursor: pointer;
      color: white;
      // border: 1px solid #BE5B75;
      // color: #BE5B75;
      background-color: #d68e21;
    }
    @media only screen and (min-width: 300px) and (max-width: 787px) {
      font-size: calc(9px + (768 / 1440) * 1vw);
    }
  }
  .carousel-container {
    display: flex;
    align-items: center;
    width: calc((1234 / 1440) * 100vw);
    height: calc((662 / 1440) * 100vw);
    background: white;
    margin: auto;
    margin-bottom: calc((28 / 1440) * 100vw);
    // overflow: hidden;
    position: relative;
    padding: calc((28 / 1440) * 100vw) auto;
    @media only screen and (min-width: 300px) and (max-width: 787px) {
      gap: calc(48px + (768 / 1440) * 1vw);
      height: 431px; //calc(244px + (768/1440) * 1vw);
      display: grid; //calc(9px + (768/1440) * 1vw);
      grid-template-columns: repeat(
        auto-fit,
        minmax(calc(617px + (786 / 1440) * 1vw), 1fr)
      );
      grid-auto-rows: calc(244px + (786 / 1440) * 1vw);
      padding: 40px auto;
    }
    .prev,
    .next {
      width: calc((34 / 1440) * 100vw);
      height: calc((95 / 1440) * 100vw);
      position: absolute;
      cursor: pointer;
      z-index: 100;
      @media only screen and (min-width: 300px) and (max-width: 787px) {
        // font-size: calc(8px + (768/1440) * 1vw);
        width: max-content;
        height: calc(95px + (786 / 1440) * 1vw);
        width: calc(34px + (786 / 1440) * 1vw);
        // padding: calc(7px + (786/1440) * 1vw);
      }
    }
    .prev {
      left: calc((-34 / 1440) * 100vw);
    }
    .next {
      right: calc((-34 / 1440) * 100vw);
    }
  }
  .carousel {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 100%;
    align-items: center;
    flex-wrap: wrap;
    gap: calc((18 / 1440) * 100vw);
    width: calc((1234 / 1440) * 100vw);
    height: calc((662 / 1440) * 100vw);
    padding: calc((28 / 1440) * 100vw) auto;
    // overflow: hidden;
    // background: white;
    @media only screen and (min-width: 300px) and (max-width: 787px) {
      gap: calc(48px + (768 / 1440) * 1vw);
      height: 331px; //calc(244px + (768/1440) * 1vw);
      display: grid; //calc(9px + (768/1440) * 1vw);
      grid-template-columns: repeat(
        auto-fit,
        minmax(calc(171px + (786 / 1440) * 1vw), 1fr)
      );
      // grid-auto-rows: calc(244px + (786/1440) * 1vw);
      overflow-y: scroll;
      padding: 40px auto;
    }
    .item {
      display: flex;

      flex-direction: column;
      width: calc((271.66 / 1440) * 100vw);
      height: calc((488 / 1440) * 100vw);
      @media only screen and (min-width: 300px) and (max-width: 787px) {
        height: 331px; //calc(244px + (768/1440) * 1vw);
      }
      .label-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: calc((10 / 1440) * 100vw);
        margin-bottom: calc((10 / 1440) * 100vw);
        height: calc((488 / 1440) * 100vw);
        // width: calc((234/1440) * 100vw);
        // margin: auto;
        .label-title {
          background-color: #774c7d;
          font-size: calc((10 / 1440) * 100vw);
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          margin-left: calc((12 / 1440) * 100vw);
          // color: white;
          width: calc((54 / 1440) * 100vw);
          height: calc((20 / 1440) * 100vw);
          padding: calc((10 / 1440) * 100vw);
          @media only screen and (min-width: 300px) and (max-width: 787px) {
            font-size: calc(6px + (768 / 1440) * 1vw);
            padding: calc(8px + (768 / 1440) * 1vw);
            width: calc(46px + (768 / 1440) * 1vw);
          }
        }
        .label-icon {
          width: calc((19 / 1440) * 100vw);
          height: calc((16 / 1440) * 100vw);
        }
      }
      .child-collection {
        width: calc((294 / 1440) * 100vw);
        height: calc((488 / 1440) * 100vw);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: calc((30 / 1440) * 100vw);
        @media only screen and (min-width: 300px) and (max-width: 787px) {
          gap: calc(0px + (768 / 1440) * 1vw);
          height: calc(244px + (768 / 1440) * 1vw);
        }

        .img-collection {
          object-fit: cover;
          object-position: center;
          width: calc((252 / 1440) * 100vw);
          height: calc((229.46 / 1440) * 100vw);
        }

        .collection-details {
          display: flex;
          flex-direction: column;
          gap: calc((13 / 1440) * 100vw);
          width: calc((294 / 1440) * 100vw);
          height: calc((488 / 1440) * 100vw);

          .title,
          .price {
            margin: auto;
            font-size: calc((14 / 1440) * 100vw);
            font-weight: 700;
            @media only screen and (min-width: 300px) and (max-width: 787px) {
              font-size: calc(8px + (768 / 1440) * 1vw);
            }
          }

          .supplier {
            text-transform: uppercase;
            font-size: calc((13 / 1440) * 100vw);
            @media only screen and (min-width: 300px) and (max-width: 787px) {
              font-size: calc(8px + (768 / 1440) * 1vw);
            }
          }

          .addToCart {
            width: calc((252 / 1440) * 100vw);
            margin: auto;
            background-color: transparent;
            border-radius: calc((10 / 1440) * 100vw);
            border: 1px solid $primaryColor;
            padding: calc((14 / 1440) * 100vw);
            font-size: calc((14 / 1440) * 100vw);
            font-weight: 700;
            transition:
              background-color 1s ease-in-out,
              color 1s ease-in;
            @media only screen and (min-width: 300px) and (max-width: 787px) {
              font-size: calc(8px + (768 / 1440) * 1vw);
              width: max-content;
              padding: calc(7px + (786 / 1440) * 1vw);
            }
            &:hover {
              cursor: pointer;
              background-color: $primaryColor;
              color: white;
            }
          }
        }
      }
    }
  }
}
