.recommended {
  width: 100%;
  margin-top: -41.4583333333vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f5f6f6;
}
@media only screen and (min-width: 300px) and (max-width: 787px) {
  .recommended {
    margin-top: calc(-97px + 0.5333333333vw);
  }
}
.recommended .title {
  width: -moz-max-content;
  width: max-content;
  margin: 0.7638888889vw auto;
  font-size: 2.0833333333vw;
  padding: 2.5694444444vw auto;
  margin-bottom: 3.2638888889vw;
}
@media only screen and (min-width: 300px) and (max-width: 787px) {
  .recommended .title {
    font-size: calc(16px + 0.5333333333vw);
  }
}
.recommended .shopmore {
  background-color: white;
  color: #d68e21;
  font-size: 0.9722222222vw;
  outline: 1px solid #d68e21;
  border: none;
  display: block;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  border-radius: 0.6944444444vw;
  padding: 0.7291666667vw 3.125vw;
  margin-bottom: 2.9166666667vw;
  transition:
    background-color 1s ease-in-out,
    color 1s ease,
    border 1s ease-in;
}
.recommended .shopmore:hover {
  cursor: pointer;
  color: white;
  background-color: #d68e21;
}
@media only screen and (min-width: 300px) and (max-width: 787px) {
  .recommended .shopmore {
    font-size: calc(9px + 0.5333333333vw);
  }
}
.recommended .carousel-container {
  display: flex;
  align-items: center;
  width: 85.6944444444vw;
  height: 45.9722222222vw;
  background: white;
  margin: auto;
  margin-bottom: 1.9444444444vw;
  z-index: 0;
  position: relative;
  padding: 1.9444444444vw auto;
}
@media only screen and (min-width: 300px) and (max-width: 787px) {
  .recommended .carousel-container {
    gap: calc(48px + 0.5333333333vw);
    height: 431px;
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc(617px + 0.5458333333vw), 1fr)
    );
    grid-auto-rows: calc(244px + 0.5458333333vw);
    padding: 40px auto;
  }
}
.recommended .carousel-container .prev,
.recommended .carousel-container .next {
  width: 2.3611111111vw;
  height: 6.5972222222vw;
  position: absolute;
  cursor: pointer;
  z-index: 100;
}
@media only screen and (min-width: 300px) and (max-width: 787px) {
  .recommended .carousel-container .prev,
  .recommended .carousel-container .next {
    width: -moz-max-content;
    width: max-content;
    height: calc(95px + 0.5458333333vw);
    width: calc(34px + 0.5458333333vw);
  }
}
.recommended .carousel-container .prev {
  left: -2.3611111111vw;
}
.recommended .carousel-container .next {
  right: -2.3611111111vw;
}
.recommended .carousel {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 100%;
  align-items: center;
  gap: 1.25vw;
  width: 85.6944444444vw;
  height: 39.0277777778vw;
  padding: 1.9444444444vw auto;
}
@media only screen and (min-width: 300px) and (max-width: 787px) {
  .recommended .carousel {
    gap: calc(48px + 0.5333333333vw);
    height: 331px;
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc(171px + 0.5458333333vw), 1fr)
    );
    overflow-y: scroll;
    padding: 40px auto;
  }
}
.recommended .carousel .item {
  display: flex;
  flex-direction: column;
  width: 18.8652777778vw;
  height: 33.8888888889vw;
  padding: 40px auto;
}
@media only screen and (min-width: 300px) and (max-width: 787px) {
  .recommended .carousel .item {
    height: 331px;
  }
}
.recommended .carousel .item .label-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6944444444vw;
  margin-bottom: 0.6944444444vw;
  height: 33.8888888889vw;
}
.recommended .carousel .item .label-container .label-title {
  background-color: #774c7d;
  font-size: 0.6944444444vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-left: 0.8333333333vw;
  width: 3.75vw;
  height: 1.3888888889vw;
  padding: 0.6944444444vw;
}
@media only screen and (min-width: 300px) and (max-width: 787px) {
  .recommended .carousel .item .label-container .label-title {
    font-size: calc(6px + 0.5333333333vw);
    padding: calc(8px + 0.5333333333vw);
    width: calc(46px + 0.5333333333vw);
  }
}
.recommended .carousel .item .label-container .label-icon {
  width: 1.3194444444vw;
  height: 1.1111111111vw;
}
.recommended .carousel .item .child-collection {
  width: 20.4166666667vw;
  height: 33.8888888889vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.0833333333vw;
  z-index: 20;
}
@media only screen and (min-width: 300px) and (max-width: 787px) {
  .recommended .carousel .item .child-collection {
    gap: calc(0px + 0.5333333333vw);
    height: calc(244px + 0.5333333333vw);
  }
}
.recommended .carousel .item .child-collection .img-collection {
  cursor: pointer;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 17.5vw;
  height: 15.9347222222vw;
}
.recommended .carousel .item .child-collection .collection-details {
  display: flex;
  flex-direction: column;
  gap: 0.9027777778vw;
  width: 20.4166666667vw;
  height: 33.8888888889vw;
}
.recommended .carousel .item .child-collection .collection-details .title,
.recommended .carousel .item .child-collection .collection-details .price {
  margin: auto;
  font-size: 0.9722222222vw;
  font-weight: 700;
}
@media only screen and (min-width: 300px) and (max-width: 787px) {
  .recommended .carousel .item .child-collection .collection-details .title,
  .recommended .carousel .item .child-collection .collection-details .price {
    font-size: calc(8px + 0.5333333333vw);
    width: 100%;
  }
}
.recommended .carousel .item .child-collection .collection-details .supplier {
  text-transform: uppercase;
  font-size: 0.9027777778vw;
}
@media only screen and (min-width: 300px) and (max-width: 787px) {
  .recommended .carousel .item .child-collection .collection-details .supplier {
    font-size: calc(8px + 0.5333333333vw);
    width: 100%;
  }
}
.recommended .carousel .item .child-collection .collection-details .addToCart {
  z-index: -9999;
  width: 17.5vw;
  margin: auto;
  background-color: transparent;
  border-radius: 0.6944444444vw;
  border: 1px solid #d68e21;
  padding: 0.9722222222vw;
  font-size: 0.9722222222vw;
  font-weight: 700;
  transition:
    background-color 1s ease-in-out,
    color 1s ease-in;
}
@media only screen and (min-width: 300px) and (max-width: 787px) {
  .recommended
    .carousel
    .item
    .child-collection
    .collection-details
    .addToCart {
    font-size: calc(8px + 0.5333333333vw);
    width: -moz-max-content;
    width: max-content;
    padding: calc(7px + 0.5458333333vw);
  }
}
.recommended
  .carousel
  .item
  .child-collection
  .collection-details
  .addToCart:hover {
  cursor: pointer;
  background-color: #d68e21;
  color: white;
} /*# sourceMappingURL=Recommended.css.map */
