$dividerColor: #4D2952;

.dividerII{
    width: 100%;
    z-index: 20;
    color: white;
    height:calc((45/1440) * 100vw);
    margin-top: calc((95/1440) * 100vw);
    background-color: $dividerColor;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .service-slider {
        width: 100%;
        display: flex;
        align-items: center;
        gap: calc((10/1440) * 100vw); /* Maintain responsiveness */
        flex-wrap: nowrap;
        animation: slide 6s linear infinite;
        @media only screen and (min-width: 300px) and (max-width: 787px) {
            // flex-basis: 29.3355%;
            gap: calc(5px + (786/1440) * 1vw);
            animation: slide 3s linear infinite;
        }
    .service-container{
            display: flex;
            align-items: flex-start;
            gap: calc((10/1440) * 100vw);
            width: 100%;
            flex-shrink: 0;
            flex-grow: 0;
            flex-basis: 19.3355%;
            @media only screen and (min-width: 300px) and (max-width: 787px) {
                flex-basis: 49.3355%;
                width: 50%;
                // flex-grow: 1;
                gap: calc(5px + (786/1440) * 1vw)
            }

        }
    }
    
    @keyframes slide {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
            @media only screen and (min-width: 300px) and (max-width: 787px) {
                // flex-basis: 19.3355%;
                transform: translateX(-400%);
            }
        }
    }

}



// .service-container{
//     display: flex;
//     align-items: flex-start;
//     gap: calc((10/1440) * 100vw);
//     flex-shrink: 0;
//     flex-grow: 0;
//     flex-basis: 20%;
//     animation: slide 5s linear infinite ;
//     animation-delay: 0.5s;

// }

// @keyframes slide {
//     0%{
//         transform: translateX(100%);
//     }
//     100%{
//         transform: translateX(-525%);
//     }
// }